<div *ngIf="message" class="alert alert-danger text-center" [innerHTML]="message"></div>

<h4 class="text-primary">Prescripci&oacute;n</h4>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row" *ngFor="let row of prescriptions">
            <div class="col-xs-6 col-sm-3" *ngFor="let item of row.columns">
                <p>
                    {{ item.key }}:&nbsp;<strong>{{ item.value }}</strong>
                </p>
            </div>
        </div>
    </div>
</div>

<div *ngIf="medicines.length > 0">
    <h4 class="text-primary">Medicamentos</h4>
    <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered table-condensed" style="border: 1px solid #f69165;">
            <tbody>
                <tr *ngFor="let row of medicines">
                    <td style="border: 1px solid #f69165;">
                        <div class="col-xs-6 col-sm-3" *ngFor="let item of row.columns">
                            <p>
                                {{ item.key }}:&nbsp;<strong>{{ item.value }}</strong>
                            </p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="procedures.length > 0">
    <h4 class="text-primary">Procedimientos</h4>
    <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered table-condensed" style="border: 1px solid #f69165;">
            <tbody>
                <tr *ngFor="let row of procedures">
                    <td style="border: 1px solid #f69165;">
                        <div class="col-xs-6 col-sm-3" *ngFor="let item of row.columns">
                            <p>
                                {{ item.key }}:&nbsp;<strong>{{ item.value }}</strong>
                            </p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="devices.length > 0">
    <h4 class="text-primary">Dispositivos</h4>
    <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered table-condensed" style="border: 1px solid #f69165;">
            <tbody>
                <tr *ngFor="let row of devices">
                    <td style="border: 1px solid #f69165;">
                        <div class="col-xs-6 col-sm-3" *ngFor="let item of row.columns">
                            <p>
                                {{ item.key }}:&nbsp;<strong>{{ item.value }}</strong>
                            </p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="nutritionalProducts.length > 0">
    <h4 class="text-primary">Productos Nutricionales</h4>
    <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered table-condensed" style="border: 1px solid #f69165;">
            <tbody>
                <tr *ngFor="let row of nutritionalProducts">
                    <td style="border: 1px solid #f69165;">
                        <div class="col-xs-6 col-sm-3" *ngFor="let item of row.columns">
                            <p>
                                {{ item.key }}:&nbsp;<strong>{{ item.value }}</strong>
                            </p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="complementaryServices.length > 0">
    <h4 class="text-primary">Servicios Complementarios</h4>
    <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered table-condensed" style="border: 1px solid #f69165;">
            <tbody>
                <tr *ngFor="let row of complementaryServices">
                    <td style="border: 1px solid #f69165;">
                        <div class="col-xs-6 col-sm-3" *ngFor="let item of row.columns">
                            <p>
                                {{ item.key }}:&nbsp;<strong>{{ item.value }}</strong>
                            </p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>