<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-condensed">
        <thead class="colTitle">
            <tr>
                <th *ngFor="let col of columns"><strong><a (click)="sort(col.id)">{{col.name}}</a></strong></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of rows">
                <td class="colText" *ngFor="let col of columns">{{row[col.id]}}</td>
            </tr>
        </tbody>
    </table>
</div>