﻿@{
    ViewData["Title"] = "Inicio";
}
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Configuración</h2>
        <ul>
            <li><a href="/swagger/v1/swagger.json">Configurar Swagger</a></li>
            <li><a href="/swagger/">Indice de servicios</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Test Servicios</h2>
        <ul>
            <li><a href="/api/SubGroups/all/TIPO_DOCUMENTO_IDEN">Tipos de documentos de identidad</a></li>
        </ul>
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-3">
    </div>
</div>
