<div class="wrapper">
    <div class="block-center mt-xl wd-xl">
        <!-- START panel-->
        <div class="panel panel-white panel-flat">
            <div class="panel-heading text-center">
                <a href="#">
                    <img class="block-center img-rounded" src="assets/img/logo.png" alt="Image" />
                </a>
            </div>
            <div class="panel-body">
                <p class="text-center pv">INICIE SESION PARA CONTINUAR</p>
                <form [formGroup]="valForm" class="form-validate mb-lg" role="form" name="loginForm" novalidate="" (submit)="submitForm($event, valForm.value)">
                    <div class="form-group has-feedback">
                        <input class="form-control" id="txtUsername" type="text" name="username" autofocus="" placeholder="Nombre de usuario" autocomplete="off" formControlName="username" required="" />
                        <span class="fa fa-user form-control-feedback text-muted"></span>
                        <span class="text-danger" *ngIf="valForm.controls['username'].hasError('required') && (valForm.controls['username'].dirty || valForm.controls['username'].touched)">Este campo es requerido</span>
                    </div>
                    <div class="form-group has-feedback">
                        <input class="form-control" id="txtPassword" type="password" name="password" placeholder="Contraseña" formControlName="password" required="" />
                        <span class="fa fa-lock form-control-feedback text-muted"></span>
                        <span class="text-danger" *ngIf="valForm.controls['password'].hasError('required') && (valForm.controls['password'].dirty || valForm.controls['password'].touched)">Este campo es requerido</span>
                    </div>
                    <div class="form-group has-feedback hide">
                        <input class="form-control" id="txtOrganization" type="text" name="organization" placeholder="Organización" formControlName="organization" autocomplete="off" required="" />
                        <span class="fa fa-sitemap form-control-feedback text-muted"></span>
                        <span class="text-danger" *ngIf="valForm.controls['organization'].hasError('required') && (valForm.controls['organization'].dirty || valForm.controls['organization'].touched)">Este campo es requerido</span>
                    </div>
                    <div class="clearfix">
                        <div class="checkbox c-checkbox pull-left mt0 hide">
                            <label>
                                <input type="checkbox" value="" name="account_remember"/>
                                <span class="fa fa-check"></span>Recordarme</label>
                        </div>
                        <div class="pull-right hide"><a class="text-muted" [routerLink]="'/recover'">Olvidó la contraseña?</a>
                        </div>
                    </div>
                    <button class="btn btn-block btn-primary mt-lg" type="submit">Ingresar</button>
                </form>
                <div *ngIf="message" class="alert alert-danger text-center" [innerHTML]="message"></div>
                <div class="hide">
                    <p class="pt-lg text-center">Need to Signup?</p><a class="btn btn-block btn-default" [routerLink]="'/register'">Register Now</a>
                </div>
            </div>
        </div>
        <!-- END panel-->
        <div class="p-lg text-center">
            <span>&copy;</span>
            <span>{{ settings.app.year }}</span>
            <span>-</span>
            <span>{{ settings.app.name }}</span>
            <br/>
            <span>{{ settings.app.description }}</span>
        </div>
    </div>
</div>