@import '../../../shared/styles/app/variables.scss';
@import '../../../shared/styles/app/media-queries.scss';
.home-container {
    margin: 0 auto;
    max-width: $container-md;
    .home-logo {
        width: 240px;
    }
    .home-text {
        @media only screen and (max-width: $mq-tablet) {
            text-align: center;
        }
    }
}

.response_throbber {
    background-image: url('http://i.imgur.com/v9LbBlt.gif');
    width: 128px;
    height: 16px;
    display: block;
    clear: none;
    float: right;
}

.time-config {
    width: 20px;
}

.text-name {
    width: 300%;
}