<div class="content-heading">
    <div id="filterForm" *ngIf="!isSelectedRow">
        <form [formGroup]="valForm" class="form-inline" role="form" name="findForm" novalidate="" (submit)="find($event, valForm.value)">
            <div class="form-group has-feedback" (click)="popupCalendar()">
                <input class="form-control" id="txtSearchDate" name="searchDate" type="text" size="10" autocomplete="off" formControlName="searchDate" placeholder="AAAA-MM-DD" required="" />
                <span class="fa fa-calendar form-control-feedback text-muted"></span>
                <datepicker class="popup" [showWeeks]="true" *ngIf="showDatepicker" id="txtSearchPicker" name="searchPicker" formControlName="searchPicker" [startingDay]="1" (ngModelChange)="onDateChange($event)"></datepicker>
            </div>
            <div class="form-group">
                <ng-select style="width: 300px;" id="docType" name="docType" [allowClear]="true" (selected)="selected($event)" (typed)="typed($event)" autocomplete="off" [items]="docTypes" placeholder="Tipo documento paciente&nbsp;&nbsp;&nbsp;"></ng-select>
            </div>
            <div class="form-group has-feedback">
                <input class="form-control" id="txtDocument" name="documentId" type="text" size="12" autocomplete="off" formControlName="documentId" placeholder="Documento" />
                <span class="fa fa-user form-control-feedback text-muted"></span>
            </div>
            <div class="form-group">
                <button id="find" [ngClass]="{disabled : isRetrieving}" class="btn btn-primary btn-sm" type="submit">Buscar</button>
            </div>
            <div class="form-group" style="float:left; float:right; float:none;color:cornflowerblue" *ngIf="isRetrieving">
                <span class="response_throbber"></span>
            </div>
            <div class="form-group" *ngIf="isQueried">
                <button id="export" [ngClass]="{disabled : isRetrieving}" class="btn btn-success btn-sm" type="button" (click)="exportToExcel()">Exportar</button>
                <input *ngIf="config.filtering" placeholder="({{items?.length}} Filas). Buscar..." [ngTableFiltering]="config.filtering" class="form-control" (tableChanged)="onChangeTable(config)" />
            </div>
        </form>
    </div>
    <div *ngIf="isSelectedRow">
        <a title="Regresar" (click)="goBack()" class="icon-arrow-left" style="color:#89BF04;text-decoration:none;"></a> &nbsp;Patiente {{ selectedId }}
    </div>
</div>

<div *ngIf="message" class="alert alert-danger text-center" [innerHTML]="message"></div>

<div *ngIf="!isSelectedRow">
    <div class="panel panel-default">
        <ng-table [config]="config" (tableChanged)="onChangeTable(config)" (cellClicked)="onCellClick($event)" [rows]="rows" [columns]="columns">
        </ng-table>
    </div>
    <div *ngIf="isQueried" class="text-right">
        <pagination *ngIf="config.paging" class="pagination-sm" firstText="Pri." lastText="Ult." nextText="Sig." previousText="Ant." [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false"
            (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
        </pagination>
    </div>
</div>

<div *ngIf="isSelectedRow">
    <app-patient [DataSource]="selectedPatient" [labels]="titles"></app-patient>
</div>